<mat-card class="login-card" elevation>
  <mat-card-content>
    <mat-tab-group>

      <mat-tab label="LOGIN">
        <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field>
        
          <mat-form-field>
            <input matInput placeholder="Password">
          </mat-form-field>
          
          <button mat-raised-button color="primary">LOGIN</button>

          </div>
      </mat-tab>


      <mat-tab label="SIGNUP">Content 2</mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>