<h2 mat-dialog-title>Add Task</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
  

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Due Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary">SAVE</button>
</mat-dialog-actions>