mat-panel-title {
    flex: 3;
}

mat-panel-description {
    flex: 1;
}

.pending {
    color: orangered;
}

.complete {
    color: green;
}

.add-button {
    margin: 50px 50px 0 0;
    float: right;
}

.filter-menu {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

.filter-menu > span, mat-select {
    display: flex;
    padding-top: 20px;
}