<div class="filter-menu">
    <span style="flex: 1;">Tasks due: </span>
    <mat-select placeholder="Select due date filter" 
    style="flex: 2;" [(value)]="selectedDueDateFilter" (selectionChange)="onUpdateFilters()">
        <mat-option *ngFor="let f of filterOptions" [value]="f.value">
          {{ f.display }}
        </mat-option>
    </mat-select>
    <span style="flex: 3;"></span>
    <span style="flex: 1;">Search: </span>
    
    <mat-form-field style="flex: 2;">
        <input matInput placeholder="Title" type="search" [(ngModel)]="searchText">       
    </mat-form-field>
    <button mat-icon-button (click)="onUpdateFilters()"><mat-icon>search</mat-icon></button>
</div>
<mat-expansion-panel *ngFor="let t of tasks">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ t.title }}
    </mat-panel-title>
    <mat-panel-description>
      Due Date: {{ t.due_date }}
    </mat-panel-description>
    <mat-panel-description>
      <span class="pending" *ngIf="t.status == 'Pending'">{{t.status}}</span>
      <span class="complete" *ngIf="t.status == 'Complete'">{{t.status}}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-selection-list>
    <mat-list-option *ngFor="let s of t.subtasks" [selected]="s.status == 'Complete'" (toggle)="onToggleSubtask(s)">
      {{s.title}}
    </mat-list-option>
  </mat-selection-list>
  <p *ngIf="t.subtasks.length == 0">No subtasks.</p>
  <button mat-raised-button color="accent" (click)="onAddSubtask(t)">ADD SUBTASK</button>
</mat-expansion-panel>

<button mat-fab class="add-button" (click)="onAddTask()"><mat-icon>add</mat-icon></button>